*{
    margin: 0;
    padding: 0;}
body{
    background-color:  hsl(212, 45%, 89%);
    display: flex;
    min-height: 100vh;
    align-items: center;
    font-size: 15px;
} 
.main{
    margin: 0 auto;
    max-width: 340px;    
}
.container{
    padding: 18px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    text-align: center;
}
.barcode{
    width: 100%;
    border-radius: 12px;

}
.text{
    font-family: "Outfit";
    src:url("https://fonts.google.com/specimen/Outfit") ;
    padding: 22px 10px;
    margin: 0 1em;
}
.text h2{
    font-weight:700;
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
}
p{
    font-weight:400;
    color:hsl(220, 15%, 55%);
    padding-bottom: 15px;
    font-size: 15px;
}